@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

/*========================= Colors =========================*/
:root {
	--purple: #9381ff;
	--lightPurple: #b8b8ff;
	--yellow: #ffeedd;
	--white: #f8f7ff;
	--black: #2b2d42;
}
/*========================= Fonts =========================*/
h3 {
	font-family: Limelight;
	font-size: 4rem;
	margin: 4px;
}
h1 {
	font-family: "Poller One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	margin: 4px;
}
h2 {
	font-family: "Poiret One", sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	font-style: normal;
	margin: 4px;
}
p {
	font-family: "Poiret One", sans-serif;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	margin: 4px;
	color: var(--black);
}
h4 {
	font-family: "Cutive Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
}
a {
	font-family: "Poiret One", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}
a:hover {
	text-decoration: underline;
}
li {
	list-style: none;
	text-align: center;
	margin-top: 40px;
}
/*========================= Body =========================*/
body {
	margin: 4px;
	background-color: var(--white);
}
